@media (max-width: 1100px) {
    .book__title {
        max-width: 200px;
        text-align: right;
    }
}
@media (max-width: 910px) {
    .intro__title {
        max-width: 600px;
        text-align: center;
    }
    .projects {
        margin-bottom: 100px;
        gap: 0;
    }
    .projects__header {
    margin-bottom: 0px;
    }
    .projects__title {
        margin-bottom: 0px;
    }
    .gates {
        margin-bottom: 0;
        margin: 0 auto;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .gates__right {
        margin-bottom: 10px;
        padding: 15px;
    }
    .card__number {
        margin-bottom: 5px;
    }
    .card__text {
        margin-bottom: 5px;
    }
    .card__technologies {
        gap: 10px;
    }
    .skills__list {
        gap: 10px;
    }
    .technologies {
        margin-bottom: 30px;
    }
    .card__technologies-list {
        justify-content: space-between;
    }
    .card__links {
        justify-content: space-between;
    }
    .literature {
        margin-bottom: 30px;
    }
    .literature__list {
        gap: 20px;
    }
    .literature__item:hover {
    transform: scale(1.05);
    }
    .book {
        height: 232px;
        justify-content: space-between;
        text-align: end;
    }
    .book__title {
        max-width: 120px;
    }
    .book__span {
        max-width: 120px;
    }
    .book__age {
        width: 100%;
    }
    .cod__list {
        gap: 10px;
    }
    .prices {
        margin-bottom: 30px;
    }
    .prices__list {
        gap: 20px;
    }
    .prices__item:hover {
    transform: scale(1.05);
    }
    .footer__list {
        flex-direction: column;
        align-items: center;
    }
    .footer__container { 
        padding: 20px 15px 20px 15px;
        gap: 10px;
    }
    .footer__text {
        margin-bottom: 10px;
    }
}
@media (max-width: 860px) {
    .nav__list {
        gap: 15px;
    }
    .literature__list {
        grid-template-columns: repeat(2, 1fr);
    }
    .prices {
        margin-bottom: 90px;
    }
    .prices__title {
        margin-bottom: 10px;
        font-size: 24px;
    }
    .prices__text {
    margin-bottom: 10px;
    }
    .prices__list {
        grid-template-columns: repeat(2, 1fr);
    }
    .prices__item {
        padding: 10px;
    }
    .box {
        min-height: 250px;
    }
    .box__content {
        display: flex;
        gap: 20px;
        align-items: center;
    }
    .box__text {
        margin-bottom: 8px;
    }
}
@media (max-width: 650px) {
    .header {
        flex-wrap: wrap;
        gap: 10px;
    }
    .logo__text {
        margin-right: 30px;
    }
    .nav {
        width: 100%;
    }
    .nav__list {
        justify-content: center;
        gap: 10px;
    }
    .progress {
        height: 20px;
    }
    .progress__bar::after {
        background-size: 30px 30px;
    }
    .footer__container {
        margin-bottom: 10px;
    }
    .footer__greeting {
        font-size: 14px;
    }
    .footer__title {
        margin-bottom: 10px;
        font-size: 16px;
    }
    .footer__list {
        gap: 10px;
    }
}
@media (max-width: 540px) {
    .card__technologies-list {
        flex-wrap: wrap;
    }
    .card__links {
        flex-wrap: wrap;
    }
    .skills__list {
        grid-template-columns: 1fr;
    }
    
    .literature__list {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .cod__list {
        grid-template-columns: 1fr;
    }
    
    .prices {
        margin-bottom: 30px;
        height: 100%;
    }
    .prices__list {
        grid-template-columns: repeat(1, 1fr);
    }
    .footer__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
@media (max-width: 390px) {
    .header {
        flex-wrap: nowrap;
    }
    .nav {
        display: flex;
        justify-content: right;
    }
    /*  */
    .burger {
        display: flex;
    }
    .nav__list {
        position: fixed;
        top: 60px; /* Смещение от верха (учитываем высоту шапки) */
        right: -100%; /* Изначально скрыто справа */
        flex-direction: column;
        background-color: #333;
        width: 40%;
        height: calc(100vh - 460px);
        padding: 20px 20px 20px 40px;
        gap: 15px;
        transition: right 0.3s ease-in-out;
        z-index: 1000;
        border-radius: 15px;
    }
    .nav__list.active {
        right: -20px; /* При классе active — выезжает слева */
    }
    .tabl {
        padding: 0;
        top: auto;
        right: auto;
        background-color: transparent;
        z-index: 0;
        height: auto;
        width: 127px;
        
    }
    
    .technologies__list {
        width: 250px;
        height: 250px;
    }
    .technologies__item:nth-child(1) {
        transform: rotate(0deg) translateY(-120px) rotate(0deg);
    }
    .technologies__item:nth-child(2) {
        transform: rotate(45deg) translateY(-120px) rotate(-45deg);
    }
    .technologies__item:nth-child(3) {
        transform: rotate(90deg) translateY(-120px) rotate(-90deg);
    }
    .technologies__item:nth-child(4) {
        transform: rotate(135deg) translateY(-120px) rotate(-135deg);
    }
    .technologies__item:nth-child(5) {
        transform: rotate(180deg) translateY(-120px) rotate(-180deg);
    }
    .technologies__item:nth-child(6) {
        transform: rotate(225deg) translateY(-120px) rotate(-225deg);
    }
    .technologies__item:nth-child(7) {
        transform: rotate(270deg) translateY(-120px) rotate(-270deg);
    }
    .technologies__item:nth-child(8) {
        transform: rotate(315deg) translateY(-120px) rotate(-315deg);
    }
    .btn {
        width: 100%;
    }

    .intro__title {
        margin-bottom: 10px;
        font-size: 30px;
    }
    .intro__text {
        margin-bottom: 20px;
        font-size: 16px;
    }

    .technologies__title {
        margin-bottom: 10px;
        font-size: 24px;
    }
    .technologies__text {
        margin-bottom: 10px;
        font-size: 16px;
    }

    .literature__title {
        margin-bottom: 10px;
        font-size: 24px;
    }
    .literature__text {
        margin-bottom: 10px;
        font-size: 16px;
    }

    .statistics__title {
        margin-bottom: 10px;
        font-size: 24px;
    }
    .statistic__text {
        margin-bottom: 10px;
        font-size: 16px;
    }
    .statistic__result {
        padding: 16px;
        margin-bottom: 20px;
    }

    .about__title {
        margin-bottom: 10px;
        font-size: 24px;
    }
    .about__text1 {
        margin-bottom: 10px;
        font-size: 16px;
    }
    .about__text2 {
        font-size: 16px;
    }

    .contacts__title {
        margin-bottom: 10px;
        font-size: 24px;
    }
    .contacts__text {
        margin-bottom: 20px;
        font-size: 16px;
    }

    

}