/* Базовые настройки */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    max-width: 100%;
}
ul {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
    padding: 15px;
    max-width: 1200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: rgb(7, 0, 34);
    color: white;
}
.starfield {
    position: fixed;
    top: 0;
    left: auto;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    perspective: 1000px;
}
.star {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 50%;
    transform: center center;
}
.star.fast {
    width: 1px;
    height: 1px;
    background-color: #fff;
    animation: hyperspaceFast linear infinite;
}
.star.medium {
    width: 2px;
    height: 2px;
    background-color: #e0e0ff;
    animation: hyperspaceMedium linear infinite;
}
.star.slow {
    width: 3px;
    height: 3px;
    background-color: #ccccff;
    animation: hyperspaceSlow linear infinite;
}

@keyframes hyperspaceFast {
    0% {
        transform: translate3d(var(--tx), var(--ty), 2000px)
            scale(0.1);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translate3d(var(--tx), var(--ty), -2000px)
            scale(3);
        opacity: 0;
    }
}
@keyframes hyperspaceMedium {
    0% {
        transform: translate3d(var(--tx), var(--ty), 3000px)
            scale(0.1);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translate3d(var(--tx), var(--ty), -2000px)
            scale(2.5);
        opacity: 0;
    }
}
@keyframes hyperspaceSlow {
    0% {
        transform: translate3d(var(--tx), var(--ty), 4000px)
            scale(0.1);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translate3d(var(--tx), var(--ty), -2000px)
            scale(2);
        opacity: 0;
    }
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*  */
.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo__img {
    width: 64px;
    height: 64px;
}
/*  */
.nav__list {
    display: flex;
    gap: 40px;
    list-style: none; 
}